@import "./mixins.scss";

.button {
  max-height: 3.125rem;
  padding: 0.75rem 1.375rem;
  border-radius: 5px;
  white-space: nowrap;

  width: 10rem;
  width: 23.437rem;
  cursor: pointer;
  background: #3e7eee;
  border: none;
  outline: none;
  font-style: normal;
  font-weight: 500;
  font-size: 0.875rem;
  line-height: 1.5rem;
  text-align: center;
  color: #ffffff;
  @include screen("inbetween") {
    min-width: 0;
  }

  &.loading {
    cursor: default;
    pointer-events: none;
  }

  &.disable {
    opacity: 50%;
    cursor: default;
    pointer-events: none;
  }
}
#small-btn-left {
  margin-right: 1.5rem;
}

#bell {
  width: 2rem;
  height: 2rem;
}
